<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron bg-dark my-4 my-lg-5 py-3 rounded">
    <h3 class="p-3 text-white">Welcome to Your Every Day Store</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/grocerry.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Grocerry Items</h5>
        <p class="card-text">
          Buy Daily Needs Fresh Grocerry Items at best price
        </p>
        <a href="/home/Grocerry" class="btn btn-primary">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/laptop.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Laptops</h5>
        <p class="card-text">
          Get Yourself the best Laptop Possible on Discounts
        </p>
        <a href="/home/laptop" class="btn btn-primary">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/clothes-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Clothes</h5>
        <p class="card-text">
          Get exciting offers on the casual and formal sections
        </p>
        <a href="/home/clothes" class="btn btn-primary">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/books.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">
          Get all the books of your favourite author from here
        </p>
        <a href="/home/books" class="btn btn-primary">check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>